* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #283e51;
  height: 1080px;
  width: 1920px;
  overflow-x: hidden;
}
.section {
  display: flex;
  font-family: "roboto ", sans-serif;
  justify-content: flex-start;
}
.section1 {
  height: 1080px;
  width: 887px;
  background: #ffffff;
  opacity: 1;
}
.section2 {
  width: 1033px;
  height: 1080px;
  background: #f5f6fd 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logo1 {
  margin: 122px 30px 0 141px;

  width: 248px;
  height: 158px;
}
.logo2 {
  margin: 122px 0 0 0;
  width: 248px;
  height: 158px;
}
.description .descriptiontitle {
  margin: 76px 0 51px 141px;
  height: 35px;
  width: 609px;
  font-family: "Roboto", sans-serif;
  color: #283e51;
  letter-spacing: 0px;
  text-align: left;
  line-height: 48px;
  font-size: 28px;
  font-weight: 900;
}
.description p {
  margin: 0 81px 38px 141px;
  height: 665px;
  height: 356px;
  line-height: 25px;

  color: #283e51;
  opacity: 100%;
  font-size: 15px;
  text-align: left;
}
.signup {
  margin: 0 498px 46px 141px;
  font-size: 18px;
  width: 248px;
  height: 65px;
}
.hbtn {
  border: none;
  border-radius: 5px;
  width: 248px;
  height: 65px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;

  text-align: center;

  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  background-color: #003266;
  z-index: 0;
}

.hb-fill-bottom-bg::before {
  position: absolute;
  content: "";
  background: #17ac9d;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
}
.hb-fill-bottom-bg:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.hb-fill-bottom-bg:hover {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}

.enddiv h5 {
  width: 169px;
  height: 23px;
  margin: 46px 577px 10.03px 141px;
  font-size: 18px;
  text-align: left;
  color: #bababa;
  opacity: 100%;
}
.divamplogo img {
  width: 179px;
  height: 44.04px;
  margin: 0 567px 55.93px 141px;
}
/*sekcija 2*/
.title2 {
  align-items: center;
  width: 170px;
  height: 35px;
  margin: 105px 458px 56px 405px;
  text-align: center;
}
.title2 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  font-size: 28px;
  color: #283e51;
  text-align: center;
}
.section2-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-flex;
}

.mentor {
  width: 240px;
  height: 240px;
}
.mentor h5 {
  font-size: 16px;
  opacity: 100%;
  text-align: center;
  color: #283e51;
  width: 250px;
  height: 20px;
}
.mentor p {
  text-align: center;
  font-size: 15px;
}
.mentor:nth-child(1) {
  margin: 0 30px 149px 88px;
}
.mentor:nth-child(2) {
  margin: 0 30px 149px 0;
}
.mentor:nth-child(3) {
  margin: 0 141px 149px 0;
}
.mentor:nth-child(4) {
  margin: 0 30px 239px 88px;
}
.mentor:nth-child(5) {
  margin: 0 30px 239px 0;
}
.mentor:nth-child(6) {
  margin: 0 141px 239px 0;
}

#myModal .modal-content {
  width: 586px;
  height: 620px;
  border-radius: 13px;
}
#myModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}

div.modal-body {
  padding: 0 0 0 0;
  position: relative;
  margin: 0 auto;
}
.modal-body p {
  color: #283e51;
  text-align: center;
  letter-spacing: 0px;
  font-size: 15px;

  width: 517px;
  height: 210px;
  padding: 35px 20px 20px 30px;
  margin-left: 30px;
  line-height: 25px;
  border-top: 1px solid gainsboro;
}
.modal-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 248px;
  width: 248px;
  margin: 11px 164px 0 174px;
}
div.modal-header {
  border-bottom: none;
}
.modal-header .close {
  color: #003166;
  font-size: 30px;
  opacity: 1;
  font-weight: 100;
  outline: none;
}
.modal-header .close:hover {
  color: #003166;
  opacity: 1;
}
.modal-header h5 {
  margin: 0px 231px 10px 241px;
  height: 20px;
  color: #283e51;
  width: 121px;
  font-size: 15px;
}
.modal-header p {
  height: 19px;
  width: 206px;
  margin: 0 185px 0px 195px;
  font-size: 15px;
  color: #283e51;
}

.modal-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.modal-overlay.active {
  display: flex;
}

.modal-overlay.visible {
  opacity: 1;
}
.modal-backdrop {
  opacity: 0.8 !important;
  background-color: #003166 !important;
}
/*modal2*/
#myModal2 .modal-header h5 {
  margin: 0px 231px 10px 210px;
  height: 20px;
  color: #283e51;
  width: 180px;
  font-size: 15px;
}
#myModal2 .modal-header p {
  height: 19px;
  width: 500px;

  margin: 0 210px 0px 100px;

  font-size: 15px;
  color: #283e51;
}
#myModal2 .modal-content {
  width: 586px;
  height: 620px;
  border-radius: 13px;
}
#myModal2 .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}

/*modal3*/
#myModal3 .modal-header h5 {
  margin: 0px 231px 10px 180px;
  height: 20px;
  color: #283e51;
  width: 240px;
  font-size: 15px;
}
#myModal3 .modal-header p {
  height: 19px;
  width: 500px;
  margin: 0 185px 0px 100px;
  font-size: 15px;
  color: #283e51;
}
#myModal3 .modal-content {
  width: 586px;
  height: 620px;
  border-radius: 13px;
}
#myModal3 .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
/*modal4*/
#myModal4 .modal-header h5 {
  margin: 0px 231px 10px 210px;
  height: 20px;
  color: #283e51;
  width: 240px;
  font-size: 15px;
}
#myModal4 .modal-header p {
  height: 19px;
  width: 500px;
  margin: 0 185px 0px 170px;
  font-size: 15px;
  color: #283e51;
}
#myModal4 .modal-content {
  width: 586px;
  height: 620px;
  border-radius: 13px;
}
#myModal4 .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
/*modal5*/
#myModal5 .modal-header h5 {
  margin: 0px 231px 10px 210px;
  height: 20px;
  color: #283e51;
  width: 240px;
  font-size: 15px;
}
#myModal5 .modal-header p {
  height: 19px;
  width: 500px;
  margin: 0 185px 0px 180px;
  font-size: 15px;
  color: #283e51;
}
#myModal5 .modal-content {
  width: 586px;
  height: 620px;
  border-radius: 13px;
}
#myModal5 .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
/*modal6*/
#myModal6 .modal-header h5 {
  margin: 0px 231px 10px 180px;
  height: 20px;
  color: #283e51;
  width: 240px;
  font-size: 15px;
}
#myModal6 .modal-header p {
  height: 19px;
  width: 500px;
  margin: 0 185px 0px 200px;
  font-size: 15px;
  color: #283e51;
}
#myModal6 .modal-content {
  width: 586px;
  height: 620px;
  border-radius: 13px;
}
#myModal6 .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  body {
    height: 500px;
    width: 100%;
  }
  .section {
    font-family: "roboto ", sans-serif;
  }
  .section1 {
    height: 100vh;
    width: 50%;
    background: #ffffff;
    opacity: 1;
  }
  .section2 {
    opacity: 1;
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
  }
  .logo1 {
    margin: 0 50px 0 0;

    width: 124px;
    height: 79px;
  }
  .logo2 {
    margin: 0 0 0 0;
    width: 124px;
    height: 79px;
  }
  .description .descriptiontitle {
    margin: 10px 0 0 10px;
    height: 35px;
    width: 200px;
    text-align: left;
    text-overflow: initial;
    font-family: "Roboto", sans-serif;
    color: #283e51;
    letter-spacing: 0px;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
  }
  .description p {
    margin: 0 0 0 10px;
    width: 200px;
    height: 100px;
    line-height: 1;
    color: #283e51;
    opacity: 100%;
    font-size: 13px;
    text-align: left;
  }
  .signup {
    margin: 450px 0 0 10px;
    font-size: 18px;
    width: 248px;
    height: 65px;
  }
  .hbtn {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;

    text-align: center;

    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    background-color: #003266;
    z-index: 0;
  }
  .enddiv h5 {
    width: 169px;
    height: 23px;
    margin: 20px 0 0 10px;
    font-size: 12px;
    text-align: left;
    color: #bababa;
    opacity: 100%;
  }
  .divamplogo img {
    width: 90px;
    height: 22.02px;
    margin: 0 0 55.93px 10px;
  }
  .title2 {
    align-items: center;

    margin: 0 0 0 0;
    text-align: left;
  }
  .title2 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0 0 0 0;
    font-size: 15px;
    color: #283e51;
    text-align: left;
  }
  .section2-1 {
    height: auto;
    display: inline;
    flex-wrap: wrap;
  }
  .mentor {
    width: 60px;
    height: 60px;
  }
  .mentor h5 {
    font-size: 15px;
    padding-left: 18px;

    opacity: 100%;
    text-align: left;
    color: #283e51;
  }
  .mentor p {
    text-align: center;
    font-size: 12px;
    width: 180px;
  }
  .mentor:nth-child(1) {
    margin: 0 0 200px 0;
  }
  .mentor:nth-child(2) {
    margin: 0 0 200px 0;
  }
  .mentor:nth-child(3) {
    margin: 0 0 200px 0;
  }
  .mentor:nth-child(4) {
    margin: 0 0 200px 0;
  }
  .mentor:nth-child(5) {
    margin: 0 0 200px 0;
  }
  .mentor:nth-child(6) {
    margin: 0 0 250px 0;
  }
  .mentor img {
    height: 170px;
    width: 170px;
  }
  #myModal .modal-content {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    width: 100%;
  }
  .section {
    font-family: "roboto ", sans-serif;
  }
  .section1 {
    height: 100vh;
    width: 50%;
    background: #ffffff;
  }
  .section2 {
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
  }
  .logo1 {
    margin: 120px 0 0 200px;
    width: 230px;
    height: 120px;
  }
  .logo2 {
    margin: -120px 0 0 0;
    width: 230px;
    height: 120px;
  }
  .description .descriptiontitle {
    margin: 10px 0 50px 50px;
    height: 35px;
    width: 400px;
    text-align: left;
    text-overflow: initial;
    font-family: "Roboto", sans-serif;
    color: #283e51;
    letter-spacing: 0px;
    line-height: 1;
    font-size: 20px;
    font-weight: 900;
  }
  .description p {
    margin: 0 0 0 50px;
    width: 334px;
    height: 100px;
    line-height: 20px;
    color: #283e51;
    opacity: 100%;
    font-size: 15px;
    text-align: left;
  }
  .signup {
    margin: 450px 0 0 50px;
    font-size: 18px;
    width: 248px;
    height: 65px;
  }
  .hbtn {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;

    text-align: center;

    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    background-color: #003266;
    z-index: 0;
  }
  .enddiv h5 {
    width: 169px;
    height: 23px;
    margin: 20px 0 0 50px;
    font-size: 12px;
    text-align: left;
    color: #bababa;
    opacity: 100%;
  }
  .divamplogo img {
    width: 90px;
    height: 22.02px;
    margin: 0 0 55.93px 50px;
  }
  .title2 {
    align-items: center;
    width: 300px;
    margin: 0 70px 40px 0;
  }
  .title2 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 120px 0 0 150px;
    font-size: 25px;
    color: #283e51;
    text-align: left;
  }
  .section2-1 {
    height: auto;
    display: inline;
    flex-wrap: wrap;
  }
  .mentor {
    width: 60px;
    height: 60px;
  }
  .mentor h5 {
    font-size: 20px;
    padding-left: 150px;
    width: 350px;
    opacity: 100%;
    text-align: left;
    color: #283e51;
  }
  .mentor p {
    text-align: center;
    font-size: 15px;
    width: 180px;
    padding-top: 20px;
    margin-left: 130px;
  }
  .mentor:nth-child(1) {
    margin: 0 0 250px 0;
  }
  .mentor:nth-child(2) {
    margin: 0 0 250px 0;
  }
  .mentor:nth-child(3) {
    margin: 0 0 250px 0;
  }
  .mentor:nth-child(4) {
    margin: 0 0 250px 0;
  }
  .mentor:nth-child(5) {
    margin: 0 0 250px 0;
  }
  .mentor:nth-child(6) {
    margin: 0 0 250px 0;
  }
  .mentor img {
    height: 170px;
    width: 170px;
    margin-left: 130px;
  }
}
